.goTopHidden{
    display: none;
}
.goTop{
    display: block;
    position:fixed;
    box-shadow: 2px rgb(109, 139, 228);
    width: 45px;
    height: 45px;
    border-radius: 3px;
    bottom: 2%;
    right: 1%;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}
.goTop:hover{
    transform: scale(1.1);
}
