.icon-position {
	position: fixed;
	bottom: 3%;
	right: 1.5%;
	z-index: 20;
}
.icon-position img {
	background-color: #b80000b9;
	border-radius: 50%;
	padding: 14px;
	height: 60px;
	width: 60px;
	cursor: pointer;
}
.icon-position img:hover {
	transition: ease-out;
	transform: scale(1.2);
	transition: transform 0.75s;
}
.puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
		both;
	animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@-webkit-keyframes puff-in-center {
	0% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
		-webkit-filter: blur(4px);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes puff-in-center {
	0% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
		-webkit-filter: blur(4px);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
