.smf__projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
	background-color: var(--color-white);
	padding: 2rem 0;
}
.smf__projects-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 60vw;
}
.smf__projects-header h1 {
	font-size: 44px;
	margin: 1rem 0 2rem 0;
}
.smf__projects-header p {
	font-size: 22px;
	color: var(--color-grey);
	font-weight: 500;
	margin-bottom: 1rem;
}
.smf__projects-content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
@media screen and (max-device-width: 1631px) {
	.smf__projects-header {
		width: 80vw;
	}
	.smf__projects-header h1 {
		font-size: 50px;
	}
	.smf__projects-header p {
		font-size: 23px;
	}
}
@media screen and (max-device-width: 480px) {
	.smf__projects-header {
		width: 80vw;
	}
	.smf__projects-header h1 {
		font-size: 50px;
	}
	.smf__projects-header p {
		font-size: 18px;
	}
}
@media screen and (orientation:landscape) and (max-device-width: 1600px){
	.smf__projects-header h1 {
		font-size: 30px;
	}
	.smf__projects-header p {
		font-size: 18px;
	}
}
