.btn {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 #0076ff63;
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}
.btn:hover{
    background: #0076ffe6;
    box-shadow: 0 6px 20px #0076ff3b;
}