.smf__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.smf__header-logo {
	width: 9rem;
	padding-top: 10px;
	margin: 2rem 0;
}
.smf__header-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	transition: opacity 0.5s ease-in;
}
.fadeIn {
	opacity: 1;
}
.fadeOut {
	opacity: 0;
}
.smf__header-title h1 {
	font-family: var(--font-family-2);
	font-size: 58px;
	color: var(--color-white);
	text-shadow: 0px 3px 0px #b2a98f, 0px 8px 8px rgba(0, 0, 0, 0.15),
		0px 14px 2px rgba(0, 0, 0, 0.1), 0px 24px 20px rgba(0, 0, 0, 0.1);
	text-align: center;
}
.focus-in-expand {
	-webkit-animation: focus-in-expand 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: focus-in-expand 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes focus-in-expand {
	0% {
		letter-spacing: -0.5em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes focus-in-expand {
	0% {
		letter-spacing: -0.5em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@media screen and (max-device-width: 480px) {
	.smf__header-title h1 {
		font-size: 70px;
	}
	.smf__header-logo {
		width: 14rem;
		padding-top: 10px;
		margin: 3rem 0 5rem 0;
	}
}
@media screen and (orientation: landscape) and (max-device-width: 1600px) {
	.smf__header-title h1 {
		font-size: 42px;
	}
	.smf__header-logo {
		width: 7rem;
		margin-bottom: 2rem;
	}
}
@media screen and (orientation: landscape) and (max-device-width: 720px) {
	.smf__header-title h1 {
		font-size: 55px;
	}
	.smf__header-logo {
		width: 8rem;
		margin-top: 1rem;
		margin-bottom: 2rem;
	}
}
