.gear1{
    fill:#ffffff;
}
.gear2{
    fill:#b80000;
}
.txt{
    fill:#b80000;
}
.rotate-center{
    transform-box: fill-box;
    transform-origin: center;
	-webkit-animation: rotate-center 10s linear infinite both;
	        animation: rotate-center 10s linear infinite both;
}
 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  .rotate-center-reverse{
    transform-box: fill-box;
    transform-origin: center;
	-webkit-animation: rotate-center 7s linear infinite reverse both;
	        animation: rotate-center 7s linear infinite reverse both;
}
 @-webkit-keyframes rotate-center-reverse {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center-reverse {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  