.smf__Navbar-containers_languages img {
	width: 21px;
	height: 21px;
}
.smf__Navbar-containers_lng {
	cursor: pointer;
}
.smf__Navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 18px;
	font-weight: 500;
	background: var(--color-gradient);
	background-blend-mode: multiply;
	color: var(--color-white);
	box-shadow: var(--boxShadow);
	position: absolute;
	top: 0;
	z-index: 99;
}
.smf__Navbar-containers {
	display: flex;
	align-items: center;
	gap: 35px;
	padding: 0.5rem;
	font-weight: 700;
}
.smf__Navbar-containers_languages {
	display: flex;
	align-items: center;
	gap: 6px;
}
.smf__Navbar-menu {
	display: none;
	position: relative;
	margin: 0.3rem 2rem;
}
.smf__Navbar-menu-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	min-width: fit-content;
	min-height: fit-content;
	top: 4.6rem;
	line-height: 2rem;
	border-radius: 10px;
	padding: 1.3rem;
	background: var(--color-gradient);
}

@media screen and (max-device-width: 480px) {
	.smf__Navbar {
		font-size: 30px;
	}
}
@media screen and (max-device-width: 320px) {
	.smf__Navbar-containers {
		display: none;
	}
	.smf__Navbar {
		justify-content: flex-start;
		font-size: 50px;
	}
	.smf__Navbar-menu {
		display: flex;
	}
	.smf__Navbar-menu-container {
		line-height: 4rem;
	}
}
@media screen and (orientation: landscape) and (max-device-width: 720px) {
	.smf__Navbar {
		font-size: 23px;
	}
}
@media screen and (orientation: landscape) and (max-device-width: 480px) {
	.smf__Navbar {
		font-size: 26px;
	}
}
