img {
	width: 21px;
	height: 21px;
}
.smf__Navbar-containers_lng {
	cursor: pointer;
}
.smf__Navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 18px;
	font-weight: 500;
	opacity: 0;
	background: var(--color-gradient);
	background-blend-mode: multiply;
	color: var(--color-white);
	box-shadow: var(--boxShadow);
	position: absolute;
	z-index: 99;
}
.smf__Navbar-containers {
	display: flex;
	align-items: center;
	gap: 35px;
	padding: 0.5rem;
	font-weight: 700;
}
.smf__Navbar-containers_languages {
	display: flex;
	align-items: center;
	gap: 6px;
}
.smf__Navbar-menu {
	display: none;
	position: relative;
	margin: 0.3rem 2rem;
}
.smf__Navbar-menu-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	min-width: fit-content;
	top: 2.2rem;
	line-height: 2rem;
	border-radius: 10px;
	padding: 1.3rem;
	background: var(--color-gradient);
}
.smf__Navbar-menu svg {
	cursor: pointer;
}

@media screen and (max-width: 800px) {
	.smf__Navbar-containers {
		display: none;
	}
	.smf__Navbar {
		justify-content: flex-start;
	}
	.smf__Navbar-menu {
		display: flex;
	}
}
