.smf__counter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 10rem;
	height: 10rem;
	text-align: center;
	font-size: clamp(19px,3vw,22px);
	font-weight: 600;
	color: #464646;
	margin: 2vh 2vw;
}
.smf__counter:hover {
	-webkit-animation: slide-fwd-top 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: slide-fwd-top 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
		linear-gradient(to top, #dbdbdb66 0%, #00000040 200%);
	background-blend-mode: multiply;
	box-shadow: #0000004d 10px 15px 30px, #00000038 0px 15px 12px;
	border-radius: 1.5rem;
	color: #ffffff;
}
