.smf__counter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 10rem;
	height: 10rem;
	text-align: center;
	font-size: clamp(19px, 3vw, 22px);
	font-weight: 600;
	color: #464646;
	margin: 2vh 2vw;
}
.smf__counter:hover {
	-webkit-animation: slide-fwd-top 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: slide-fwd-top 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	background: var(--color-gradient);
	background-blend-mode: multiply;
	box-shadow: var(--boxShadow);
	border-radius: 1.5rem;
	color: var(--color-white);
}
