.drlj__WhatWeDo-container_feature{
    height: 25rem;
    width: 40rem;
    padding: 2rem;
    display:block;
    flex-direction: column;
    margin: 2rem;
}
.drlj__WhatWeDo-container_feature:hover{
    -webkit-animation: slide-fwd-top 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-fwd-top 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            background:linear-gradient(135deg, #79C3FFB0 0%, #4A5FFF6B 34%, #323C78BD 100%);
    box-shadow: #0000004d 0px 19px 38px, #00000038 0px 15px 12px;
    border-radius: 5%;
}
@-webkit-keyframes slide-fwd-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
    }
    100% {
      -webkit-transform: translateZ(100px) translateY(-15px);
              transform: translateZ(100px) translateY(-15px);
    }
  }
@keyframes slide-fwd-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
    }
    100% {
      -webkit-transform: translateZ(100px) translateY(-15px);
              transform: translateZ(100px) translateY(-15px);
    }
  }
.drlj__WhatWeDo-container_feature-header{
  display: flex;
}
.drlj__WhatWeDo-container_feature-icon img{
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1rem 1rem 0;
}
.drlj__WhatWeDo-container_feature-content{
  width: 100%;
}
.drlj__WhatWeDo-container_feature-content h1, h3{
  margin: 0 0 2rem 0;
}

