.smf__Map {
	display: flex;
	box-shadow: var(--boxShadow);
	height: 25rem;
	margin-bottom: 2.5rem;
}
.smf__Map iframe {
	position: relative;
	width: 100%;
}
@media screen and (min-width: 1000px) {
	.smf__Map {
		width: 80%;
	}
}
