.smf__GetInTouch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
	margin-bottom: 2rem;
	opacity: 0;
	color: var(--color-white);
}
.smf__GetInTouch-Background {
	background: var(--color-gradient);
	background-blend-mode: multiply;
	box-shadow: var(--boxShadow);
}
.smf__GetInTouch-logo {
	width: 150px;
	margin: 2rem 0;
}
.smf__GetInTouch-logoParagraph_top {
	font-size: 13px;
}
.smf__GetInTouch-logoParagraph_bot {
	font-size: 20px;
	margin-bottom: 2rem;
}
