.smf__GetInTouch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
	opacity: 0;
	color: var(--color-white);
}
.smf__GetInTouch-Background {
	background: var(--color-gradient);
	background-blend-mode: multiply;
}
.smf__GetInTouch-logo {
	width: 9rem;
	margin: 2rem 0;
}
.smf__GetInTouch-logoParagraph_top {
	font-size: 13px;
}
.smf__GetInTouch-logoParagraph_bot {
	font-size: 20px;
	margin-bottom: 2rem;
}
@media screen and (max-device-width: 480px) {
	.smf__GetInTouch-logoParagraph_top {
		font-size: 20px;
	}
	.smf__GetInTouch-logo {
		width: 12rem;
	}
	.smf__GetInTouch-logoParagraph_bot {
		font-size: 30px;
	}
}
