.smf__Navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    opacity: 0;
    background-color: #ffffff;
    position: absolute;
    z-index: 99;
}
.smf__Navbar-containers{
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 0.5rem ;
    color: #5b5b5b;
    font-weight: 700;
}

.smf__Navbar-language{
    position: absolute;    
    right: 0;
    margin-right: 10rem;
}

.smf__Navbar-language a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.smf__Navbar-language img{
    width: 30px;
}
