.smf__Navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    opacity: 0;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, #dbdbdb66 0%, #00000040 200%);
    background-blend-mode: multiply;
    color: #ffffff;
    box-shadow: 0 10px 20px #00000033;
    position: absolute;
    z-index: 99;
}
.smf__Navbar-containers{
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 0.5rem ;
    font-weight: 700;
}
.smf__Navbar-language a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}
.smf__Navbar-language img{
    width: 21px;
}
.smf__Navbar-menu{
    
    margin-left: 1rem;
    display: none;
    position: relative;
    margin: 0.3rem 0;
}
.smf__Navbar-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;
    padding: 1.7rem;
    position: absolute;
    right: 0;
    top: 3.5vh;
    left:3vw;
    min-width: fit-content;
    line-height: 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}
.smf__Navbar-menu svg{
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    .smf__Navbar-containers {
        display: none;
    }
    .smf__Navbar{
        justify-content: flex-start;
    }
    .smf__Navbar-menu {
        display: flex;
    }
}