* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	font-family: var(--font-family-1);
}
body {
	background: var(--color-bg);
	overflow-x: hidden;
}
a {
	color: unset;
	text-decoration: none;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
		linear-gradient(to top, #dbdbdb66 0%, #00000040 200%);
}
::-webkit-scrollbar-thumb {
	background-color: #b80000;
	border-radius: 25px;
}
.gradient__bg {
	background: rgb(253, 251, 251);
	background: -moz-radial-gradient(
		circle,
		rgba(253, 251, 251, 1) 0%,
		rgba(235, 237, 238, 1) 100%
	);
	background: -webkit-radial-gradient(
		circle,
		rgba(253, 251, 251, 1) 0%,
		rgba(235, 237, 238, 1) 100%
	);
	background: radial-gradient(
		circle,
		rgba(253, 251, 251, 1) 0%,
		rgba(235, 237, 238, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdfbfb",endColorstr="#ebedee",GradientType=1);
}
.solid__bg {
	background-color: #ffffff;
}
.section__padding {
	padding: 4rem 6rem;
}
.section__margin {
	margin: 4rem 6rem;
}
@media screen and (max-width: 700px) {
	.section__padding {
		padding: 4rem;
	}
	.section__margin {
		margin: 4rem;
	}
}
@media screen and (max-width: 550px) {
	.section__padding {
		padding: 4rem 2rem;
	}
	.section__margin {
		margin: 4rem 2rem;
	}
}
