.smf__header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.smf__header-logo{
  width: 12rem;
  padding-top: 10px;
  margin: 2rem;
}
.smf__header-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    opacity: 0;
  }
  .smf__navbar{
    opacity: 0;
  }
  .smf__header-title h1{
    font-family: var(--font-family-2);
    font-size:60px;
    color: #ffffff;
    background-color: #b80000c2;
    border-radius: 10rem;
    padding: 1rem 2.5rem;
    margin: 2rem;
}
.focus-in-expand {
	-webkit-animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  