.drlj__Footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 12rem;
    }
.drlj__Footer h4{
        display: flex;
        margin-bottom: 1rem;
}
.drlj__contrib{
        color: #000000;
        transition: color 0.25s 0.0833333333s;
        background: none;
        border: none;
        cursor: pointer;
        line-height: 1.5;
        font: 700 1.2rem 'Roboto Slab', sans-serif;
        padding: 1em 2em;
        letter-spacing: 0.05rem;
}
.drlj__contrib::before, .drlj__contrib::after{
        border: 0 solid transparent;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        right: 0;
}
.drlj__contrib::before {
        border-bottom-width: 4px;
        border-left-width: 4px;
        }
        .drlj__contrib::after {
        border-top-width: 4px;
        border-right-width: 4px;
        }
        .drlj__contrib:hover {
        color: #867d00;
        }
        .drlj__contrib:hover::before, .drlj__contrib:hover::after {
        border-color: #867d00;
        transition: border-color 0s, width 0.25s, height 0.25s;
        width: 100%;
        height: 100%;
        }
        .drlj__contrib:hover::before {
        transition-delay: 0s, 0s, 0.25s;
        }
        .drlj__contrib:hover::after {
        transition-delay: 0s, 0.25s, 0s;}

.drlj__Footer-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.drlj__Footer-container h3{
        position: absolute;
        cursor: pointer;
}
.drlj__Footer-fcknlegends{
        display: flex;
        transition: opacity 1s ease-out;
}
.drlj__Footer-contributors{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.drlj__Footer-fcknlegends img{
        border-radius: 50%;
        width: 65px;
        height: 65px;
}
.drlj__Footer-dalibro, .drlj__Footer-pekazeka{
        visibility: hidden;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0 1.4rem;
}
.tracking-out-expand {
        -webkit-animation: tracking-out-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: tracking-out-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes tracking-out-expand {
        0% {
                opacity: 1;
        }
        60% {
                opacity: 0.8;
        }
        100% {
                letter-spacing: 1em;
                opacity: 0;
                visibility: hidden;
}

}
@keyframes tracking-out-expand {
        0% {
                opacity: 1;
        }
        60% {
                opacity: 0.8;
        }
        100% {
                letter-spacing: 1em;
                opacity: 0;
                visibility: hidden;
}
}
.bounce-in-right {
        visibility:visible;
        -webkit-animation: bounce-in-right 1.1s 0.75s both;
                animation: bounce-in-right 1.1s 0.75s both;
}
.bounce-in-right-delay {
        visibility:visible;
        -webkit-animation: bounce-in-right 1.1s 1.25s both;
                animation: bounce-in-right 1.1s 1.25s both;
}
@-webkit-keyframes bounce-in-right {
        0% {
                -webkit-transform: translateX(500px);
                        transform: translateX(500px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
                opacity: 0;
        }
        38% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
                opacity: 1;
        }
        55% {
                -webkit-transform: translateX(65px);
                        transform: translateX(65px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
        }
        72% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
        }
        81% {
                -webkit-transform: translateX(28px);
                        transform: translateX(28px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
        }
        90% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
        }
        95% {
                -webkit-transform: translateX(8px);
                        transform: translateX(8px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
        }
        100% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
        }
        }
@keyframes bounce-in-right {
        0% {
                -webkit-transform: translateX(500px);
                        transform: translateX(500px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
                opacity: 0;
        }
        38% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
                opacity: 1;
        }
        55% {
                -webkit-transform: translateX(65px);
                        transform: translateX(65px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
        }
        72% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
        }
        81% {
                -webkit-transform: translateX(28px);
                        transform: translateX(28px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
        }
        90% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
        }
        95% {
                -webkit-transform: translateX(8px);
                        transform: translateX(8px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
        }
        100% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
        }
}