.smf__GetInTouch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
	margin-bottom: 2rem;
	opacity: 0;
	color: #ffffff;
}
.smf__GetInTouch-Background {
	background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
		linear-gradient(to top, #dbdbdb66 0%, #00000040 200%);
	background-blend-mode: multiply;
	box-shadow: 0 10px 20px #00000033;
}
.smf__GetInTouch-logo {
	width: 150px;
	margin: 2rem 0;
}
.smf__GetInTouch-logoParagraph_top {
	font-size: 13px;
}
.smf__GetInTouch-logoParagraph_bot {
	font-size: 20px;
	margin-bottom: 2rem;
}
