.smf__GetInTouch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 2rem;
    opacity: 0;
    color: #ffffff;
}
.smf__GetInTouch-Background{
    background: linear-gradient(110deg, #013A6B 60%, #004E95 60%);
    box-shadow: 0 10px 20px #00000033;
}
.smf__GetInTouch-logo{
    width: 150px;
    margin: 2rem 0;
}
.smf__GetInTouch-logoParagraph_top {
    font-size: 12px;
}
.smf__GetInTouch-logoParagraph_bot {
    font-size: 20px;
    margin-bottom: 2rem;
}
 