.drlj__GetInTouch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    box-shadow: 0 10px 20px #00000033;
    margin-bottom: 2rem;
}
.drlj__GetInTouch img{
    width: 12rem;
    height: 10rem;
    margin-bottom: 2rem;
}
.drlj__GetInTouch-logoParagraph_top {
    font-size: 12px;
}
.drlj__GetInTouch-logoParagraph_bot {
    font-size: 20px;
    margin-bottom: 2rem;
}
 